<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"> <!--first mobile meta-->
    <title>Graph chart</title>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        google.charts.load('current', { 'packages': ['corechart'] });
        google.charts.setOnLoadCallback(drawpie);
        google.charts.setOnLoadCallback(drawbar);
        google.charts.setOnLoadCallback(drawline);

        function drawpie() {
            var data_pie = google.visualization.arrayToDataTable([
            {% for key, value in data_pie.items() %}
                {% if value is string %}
                    ['{{ key }}', '{{ value }}'],
                {% else %}
                    ['{{ key }}', {{ value }}],
                {% endif %}
            {% endfor %}
            ]);

            var options = {
              
                width: 400,
                height: 300
            };

            
            var chart = new google.visualization.PieChart(document.getElementById('pie_chart_div'));
            chart.draw(data_pie, options);
            }

          function drawbar() {   
            var data_bar = google.visualization.arrayToDataTable([
            {% for key, value in data_bar.items() %}
                {% if value is string %}
                    ['{{ key }}', '{{ value }}'],
                {% else %}
                    ['{{ key }}', {{ value }}],
                {% endif %}
            {% endfor %}
           ]);
 
        var options = {
                       width:400,
                       height:300};

        
        var chart = new google.visualization.BarChart(document.getElementById('bar_chart_div'));
        chart.draw(data_bar, options);
      }

 function drawline() {

            var data_line = google.visualization.arrayToDataTable([
            {% for key, value in data_line.items() %}
                {% if value is string %}
                    ['{{ key }}', '{{ value }}'],
                {% else %}
                    ['{{ key }}', {{ value }}],
                {% endif %}
            {% endfor %}
            ]);
 

        var options = {
                       width:400,
                       height:300};

        
        var chart = new google.visualization.LineChart(document.getElementById('line_chart_div'));
        chart.draw(data_line, options);
      }

    </script>
    <link rel="stylesheet" href="{{url_for('static',filename='css1/bootstrap.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='css1/all.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='css1/style7.css')}}">
   
</head>
<body>
  <!--start navbar-->
        <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
            <!--fixed-top-->
            <div class="container">

                <a class="navbar-brand" href="#"><span>Sure</span>Analytics</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                    <!--justify-content-end-->
                    <ul class="navbar-nav">
                        <li class="nav-item li2">
                            <a href="graph dynamic.html">Report</a>
                        </li>
                        <li class="nav-item li1">
                            <a href="/data">Data sources</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <img src="{{url_for('static',filename='face1.png')}}" width="45px" height="45px">
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="/profile"><i class="fas fa-user"></i>View profile</a></li>
                                <li><a class="dropdown-item" href="/login"><i class="fas fa-sign-out-alt"></i> SignOut</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <br />







        <!--end navbar-->
        <!--start graph section-->
        <br />
        <div class="row">

            <div class="col">
                <div class="left">

                    <table>
                        <tr>
                            <td><div id="pie_chart_div" style="border: 1px solid #ccc"></div></td>
                            <td><div id="bar_chart_div" style="border: 1px solid #ccc"></div></td>
                        </tr>



                        <tr>
                            <td><div id="line_chart_div" style="border: 1px solid #ccc"></div></td>
                        </tr>
                    </table>



                </div>



            </div>
            <div class="col">

                <div class="right">
                    <section class="graph-chart">
                        <div class="container-fliud">
                            <div class="row1">
                                <p class="p1" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Bar chart</p>
                                <img src="{{url_for('static',filename='images/par-chart.png')}}" alt="" data-bs-toggle="modal" data-bs-target="#staticBackdropBar" width="80" height="80"><!--data-bs-toggle="modal" data-bs-target="#staticBackdrop"-->
                            </div>
                            <div class="row2">
                                <p data-bs-toggle="modal" data-bs-target="#staticBackdrop">Pie chart</p>
                                <img src="{{url_for('static',filename='images/pie-chart.png')}}" alt="" data-bs-toggle="modal" data-bs-target="#staticBackdropPie" width="80" height="80"><!--data-bs-toggle="modal" data-bs-target="#staticBackdrop"-->
                            </div>
                            <div class="row3">
                                <p data-bs-toggle="modal" data-bs-target="#staticBackdrop">Line graph</p>
                                <img src="{{url_for('static',filename='images/line-graph.jpg')}}" alt="" data-bs-toggle="modal" data-bs-target="#staticBackdropLine" width="80" height="80"><!--data-bs-toggle="modal" data-bs-target="#staticBackdrop"-->
                            </div>
                            <div class="row4">
                                <p data-bs-toggle="modal" data-bs-target="#staticBackdrop1">Card graph</p>
                                <img src="{{url_for('static',filename='images/card-graph.jpg')}}" alt="" data-bs-toggle="modal" data-bs-target="#staticBackdropCard" width="80" height="80"><!--data-bs-toggle="modal" data-bs-target="#staticBackdrop"-->
                            </div>





                            <!-- Modal1 -->
                            <div class="modal fade" id="staticBackdropBar" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                <form action="\graph\PieGraph" method="POST">
                                    <div class="modal-dialog modal-dialog-centered">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="staticBackdropLabel">Determine x,y values</h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>

                                            <div class="modal-body">

                                                <span class="span1">label</span>
                                                <select name="myoptionx" required style="width: 100px; ">
                                                    <option>1</option>
                                                    <option>2</option>
                                                    <option>bar</option>
                                                    <option>4</option>
                                                    <option>5</option>
                                                </select>
                                                <span class="span2" name="myoptiony">value</span>
                                                <select required style="width: 100px;">
                                                    {%for items in cols%}
                                                    <option value="{{items}}">{{items}}</option>
                                                    {%endfor%}
                                                </select>


                                            </div>
                                            <div class="modal-footer">
                                                <button type="reset" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                                <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Done</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <!-- Modal2 -->
                            <div class="modal fade" id="staticBackdrop1" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="staticBackdropLabel">Determine value</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <form action="graph chart.html" method="GET">
                                                <span class="span3">Choose Value</span>
                                                <select name="myoptionsolo" required style="width: 100px;">
                                                    {%for items in cols%}
                                                    <option value="{{items}}">{{items}}</option>
                                                    {%endfor%}
                                                </select>
                                                <button type="submit" class="btn btn-default">Go</button>
                                            </form>

                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                            <button type="button" class="btn btn-primary" type="submit">Done</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>






        <!--end graph section-->
        <!--start ultimate footer section-->
        <section class="footer text-center">
            <div class="container-fluid">
                <div class="row">
                    <div class="copyright text-center">
                        Copyright &copy; 2021 all rights reversed | <span class="pp2">SureAnalystics</span>
                    </div>
                </div>

            </div>
            <button type="submit" class="btn btn-default">Go</button>

        </section>
        <!--start ultimate footer section-->
        <script src="{{url_for('static',filename='js1/popper.min.js')}}"></script>
        <script src="{{url_for('static',filename='js1/jQuery v3.6.0.min.js')}}"></script>
        <script src="{{url_for('static',filename='js1/bootstrap.min.js')}}"></script>

</body>
</html>