<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"> <!--first mobile meta-->
    <title>personal page</title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/bootstrap.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='css/all.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='css/style5.css')}}"> <!--to update bootstrap -->
</head>
<body>
    <!--start navbar-->
    <nav class="navbar navbar-inverse ">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/homepage"><span>Sure</span>Analytics</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                     <li><a href="/Report">Report</a></li> 
                    <li class="li"><a href="/DataSource">Data sources</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><img src="{{url_for('static',filename='face1.png')}}" width="45" height="45"> <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="/profile"><i class="fas fa-user"></i>View profile</a></li>
                            <li><a href="/login"><i class="fas fa-sign-out-alt"></i> SignOut</a></li>
                        </ul>
                    </li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
    <!--end navbar-->
    <!--start testmonials section-->
    <section class="testmonials text-center">
        <!--start testmonials carousel-->
        <div id="myslide" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner" role="listbox">
                <div class="item active">
                    <div class="carousel-caption">
                        <p class="lead">SureAnalytics is a platform where you can get instant reports for a smoother data oriented decision decision making</p>
                    </div>
                </div>
                <div class="item">
                    <div class="carousel-caption">
                        <p class="lead">We extract your data from different datasources to put it in ease access for immediate automated data analysis leverging BI technologies</p>
                    </div>
                </div>
                <div class="item">
                    <div class="carousel-caption">
                        <p class="lead">
                            Try Now!
                            Without any coding included!
                            Just drag and drop on the go reports.
                        </p>
                    </div>
                </div>
            </div>
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#myslide" data-slide-to="0" class="active"></li>
                <li data-target="#myslide" data-slide-to="1"></li>
                <li data-target="#myslide" data-slide-to="2"></li>
            </ol>
        </div>
        <!--end testmonials carousel-->
    </section>
    <!--end testmonials section-->
    <!--start ultimate footer section-->
    <!--start ultimate footer section-->
    
    <script src="{{url_for('static',filename='js/jquery-1.11.1.min.js')}}"></script>
    <script src="{{url_for('static',filename='js/bootstrap.min.js')}}"></script>
    <script src="{{url_for('static',filename='js/main.js')}}"></script>

</body>
</html>