<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"> <!--first mobile meta-->
    <title>view personal page</title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/bootstrap.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='css/all.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='css/style3.css')}}"> <!--to update bootstrap -->
</head>
<body>
    <!--start navbar-->
    <nav class="navbar navbar-inverse ">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/homepage"><span>Sure</span>Analytics</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/homepage/HomePage"><i class="fas fa-backward"></i> Back </a></li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
    <!--end navbar-->
    <!--start image-->

    <div class="person">
        <img src="{{url_for('static',filename='face1.png')}}" alt="">
        <div class="person-text">
            <h2>{{text}}</h2>

            <p>
                <a href="#"><i class="fab fa-facebook"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fab fa-youtube"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>

            </p>
        </div>
    </div>
    <!--end image-->
    <!--start ultimate footer section-->
    <section class="footer text-center">
        <div class="container-fluid">
            <div class="row">
                <ul>
                    <li><img src="{{url_for('static',filename='images/88.svg')}}"></li>
                    <li><img src="{{url_for('static',filename='images/1111.svg')}}"></li>
                    <li><img src="{{url_for('static',filename='images/1212.svg')}}"></li>
                </ul>
                <div class="col-md-3">
                    <a href="#"><p>Privacy and Policy</p></a>
                </div>
                <div class="col-md-3">
                    <a href="#"><p>Terms and conditions</p></a>
                </div>
                <div class="col-md-3">
                    <a href="#"><p>contact us</p></a>
                </div>
                <div class="col-md-3">
                    <a href="#"><p>Ask for help</p></a>
                </div>
                <p><span class="pp">We accept :</span> <img src="{{url_for('static',filename='images/2.png')}}"> <img src="{{url_for('static',filename='images/3.png')}}" /></p>
                <div class="copyright text-center">
                    Copyright &copy; 2021 all rights reversed | <span class="pp2">SureAnalystics</span>
                </div>
            </div>

        </div>

    </section>
    <!--start ultimate footer section-->
    <script src="{{url_for('static',filename='js/jquery-1.11.1.min.js')}}"></script>
    <script src="{{url_for('static',filename='js/bootstrap.min.js')}}"></script>
    <script src="{{url_for('static',filename='js/main.js')}}"></script>
</body>
</html>