body{
    background-color: #EEE;
}
.loading-overlay{
    background-color:#9BA5B5;
    color: #FFF;
    position: fixed;
    width:100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 99999;
  }
  .ml2 {
    font-weight: 900;
    font-size: 3.5em;
    padding-left: 35%;
    padding-top: 25%;
  }
  
  .ml2 .letter {
    display: inline-block;
    line-height: 1em;
  }
.navbar-inverse{
    background: none;
    border: none;
    font-size: 15px;
    padding-top: 10px;
    
}
.navbar-inverse .navbar-nav > .active > a,
 .navbar-inverse .navbar-nav > .active > a:hover,
  .navbar-inverse .navbar-nav > .active > a:focus{
      background: none;
      
  }
  .navbar-inverse .navbar-nav > li > a,
  .navbar-inverse .navbar-nav > .active > a,
   .navbar-inverse .navbar-nav > .active > a:focus,
   .navbar-inverse .navbar-brand{
    color:#000;
    font-weight: bold;
   }
   
 
  .navbar-inverse .navbar-nav > li > a:hover,
  .navbar-inverse .navbar-nav > .active > a:hover{
      color: #F00;

  }
  .navbar-brand img{
      margin-top: -12px;
      width: 50px;
      height: 50px;
      border-radius: 50%;
  }
  .navbar-inverse .navbar-nav > .open > a,
   .navbar-inverse .navbar-nav > .open > a:hover, 
   .navbar-inverse .navbar-nav > .open > a:focus{
       background:none;
   }
   .navbar-inverse .navbar-nav > li > a,
  .navbar-inverse .navbar-nav > .active > a,
   .navbar-inverse .navbar-nav > .active > a:focus,
   .navbar-inverse .navbar-brand{
    color:#000;
    font-weight: bold;

   }

   .navbar-inverse .navbar-nav .li {
       border: 1px solid  firebrick;
       border-radius: 30px;
   }
   .navbar-inverse .navbar-nav .li:hover{
        border: 1px solid #F00;
   }
   .dropdown-menu > li > a{
    padding: 6px 20px;
    transition: padding 0.5s ease;
   }
   .dropdown-menu > li > a:hover{
    background-color: #F00;
    color: #FFF;
    padding-left: 25px;
  }
   .navbar-inverse .navbar-brand:hover{
    color:#000;
   }
   .navbar-brand span{
    font-style: italic;
    color: firebrick;
}
.navbar-inverse .navbar-brand{
    font-size: 20px;
}
  

  /*start testmonials section*/
  .testmonials{
    margin-top: 0px;
    margin-bottom: 0px;
    background-image: url('../images/slider2.jpg');
    background-size: cover;
  }

  .carousel-caption{
        bottom: 200px;
        background: rgba(3, 3, 3, 0.3);
        padding-left: 20px;
        padding-right: 20px;
  }
  .carousel-indicators li{
      border: 1px solid #1A535C;
  }
  .carousel-indicators .active{
      background-color: #1A535C;
  }

.testmonials .lead{line-height: 2em;margin-bottom: 10px;}




/*end testmonials section*/

 /*start ultimate footer section*/
.footer{
    background-color:#1A535C;
    color: #AAA;
    padding-top: 10px;
    
    
  }
  
  .footer ul{
    list-style: none;
    overflow: hidden;
    margin-left:43% ;
  }
  .footer ul li{
    float: left;
    padding: 5px 0;
    margin-right: 10px;
    border-radius: 50%;
    
  }
  .footer ul li img{
    width: 50px;
    
  }
  .footer a p{
      color: #FFF;
      font-size: 15px;
      font-weight: bold;
      transition: all .5s ease-in-out;
      opacity: .5;
  }
  .footer a p:hover{
      opacity: 1;
  }
.footer img{
    width: 30px;
    height: 30px;
}
.footer .pp{
    color: #FFF;
}
.footer .copyright{
        background: #333;
        color: #EEE;
        padding: 15px 0;
        margin-top: 20px;
        font-size: 18px;
}
.footer .pp2{
    color: #35D8FD;
}
  
  /*end ultimate footer section*/
   